<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'superheroes/stylesheet.css' %}">
    <title>Create Superhero</title>
</head>
<body>
    <h1 class="text-center">Create New Superhero</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="{% url 'superheroes:create_superhero' %}" method="post">
                {% csrf_token %}
                <label class="form-label">Name:</label>
                <input type="text" name="name" id="name" class="form-control"><br>
                <label class="form-label">Alter Ego:</label>
                <input type="text" name="alter_ego" id="alter_ego" class="form-control"><br>
                <label class="form-label">Primary Ability:</label>
                <input type="text" name="primary_ability" id="primary_ability" class="form-control"><br>
                <label class="form-label">Secondary Ability:</label>
                <input type="text" name="secondary_ability" id="secondary_ability" class="form-control"><br>
                <label class="form-label">Catchphrase:</label>
                <input type="text" name="catchphrase" id="catchphrase" class="form-control"><br>
                <div class="row justify-content-center">
                    <div class="col"></div>
                    <input type="submit" value="Submit!" class="btn btn-primary col">
                    <div class="col"></div>
                    <a href="{% url 'superheroes:index' %}" class="btn btn-danger col">Cancel</a>
                    <div class="col"></div>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</body>
</html>